<header>
  <nav class="navbar navbar-expand-md p-1" style="background-color: #69318e;" data-bs-theme="dark">
    <div class="container-lg">
      <a class="navbar-brand p-0" href="#"><strong></strong>Mikagura Uta</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content" 
          aria-controls="navbar_content" style="padding: 2px 6px;">
        <span class="navbar-toggler-icon" style="height: 24px; width: 24px;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_content">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown my-2 my-md-0">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hinos
            </a>
            <div class="dropdown-menu">
              <ul class="list-group list-group-flush px-1 text-nowrap text-capitalize menu-hymn">
                <% Uta::HYMNS.each do |k, e| %>
                  <a class="list-group-item list-group-item-action<%= ' active' if @hymn == e %>" href="javascript:conf.set_hymn('<%= k %>')">
                    <%= e[:title] %>
                  </a>
                <% end %>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown mb-2 mb-md-0">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Instrumentos
            </a>
            <div class="dropdown-menu px-3 text-capitalize menu-instruments">
              <% Uta::INSTRUMENTS.each do |k, e| %>
                <div class="form-check mx-1 my-1">
                  <input type="checkbox" class="form-check-input instrumento" name="<%= k %>" 
                    id="check_<%= k %>" onchange="conf.instrument(this)">
                  <label class="form-check-label" for="check_<%= k %>"><%= k %></label>
                </div>
              <% end %>
              <hr class="my-2 mx-0">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="todos" id="ch_todos" onchange="conf.instrument_all()">
                <label class="form-check-label" for="ch_todos">todos</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="todos" id="ch_nenhum" onchange="conf.instrument_all()" checked>
                <label class="form-check-label" for="ch_nenhum">nenhum</label>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ajustes
            </a>
            <ul class="dropdown-menu px-3 px-md-2">
              <li class="nav-item">
                <a class="nav-link d-inline-block px-3 py-2 px-md-2 py-md-1" href="javascript:conf.tamanho(conf.get('tamanho') - 1)" 
                    title="reduzir o tamanho das letras">
                  <i class="bi bi-zoom-out"></i>
                </a>
                <a class="nav-link d-inline-block px-3 py-2 px-md-2 py-md-1" href="javascript:conf.tamanho(conf.get('tamanho') + 1)" 
                    title="aumentar o tamanho das letras">
                  <i class="bi bi-zoom-in"></i>
                </a>
                <span class="d-inline-block px-3 py-2 px-md-2 py-md-1 text-secondary tamanho">16px</span>
              </li>
              <li class="nav-item">
                <a class="nav-link d-inline-block px-3 py-2 px-md-2 py-md-1" href="javascript:conf.espaco(conf.get('espaco') - 0.05)" 
                    title="diminuir espaço entre notas">
                  <i class="bi bi-arrows-collapse-vertical"></i>
                </a>
                <a class="nav-link d-inline-block px-3 py-2 px-md-2 py-md-1" href="javascript:conf.espaco(conf.get('espaco') + 0.05)" 
                    title="aumentar espaço entre notas">
                  <i class="bi bi-arrows-expand-vertical"></i>
                </a>
                <span class="d-inline-block px-3 py-2 px-md-2 py-md-1 text-secondary espaco">1.4x</span>
              </li>
              <li class="nav-item">
                <div class="row py-1" title="tempo em batidas por minuto">
                  <label for="bpm" class="col-4 col-sm-3 col-md-6 pe-0">bpm</label>
                  <div class="col-4 col-sm-3 col-md-6 ps-0">
                    <input class="form-control py-0 bpm" type="number" value="60" id="bpm" 
                        onchange="conf.bpm(this.value)">
                  </div>
                </div>
                <div class="row py-1" title="quantidade de execução da 1a parte do suwari zutome">
                  <label for="qs_0" class="col-4 col-sm-3 col-md-6 pe-0">parte 1</label>
                  <div class="col-4 col-sm-3 col-md-6 ps-0">
                    <input class="form-control py-0 qs_0" type="number" value="21" id="qs_0" 
                        onchange="conf.quant(0, this.value)">
                  </div>
                </div>
                <div class="row py-1" title="quantidade de execução da 3a parte do suwari zutome">
                  <label for="qs_1" class="col-4 col-sm-3 col-md-6 pe-0">parte 3</label>
                  <div class="col-4 col-sm-3 col-md-6 ps-0">
                    <input class="form-control py-0 qs_1" type="number" value="3" id="qs_1" 
                        onchange="conf.quant(1, this.value)">
                  </div>
                </div>
                <div class="row py-1" title="quantidade de paradas a cada conjuto de execução da 3a parte do suwari zutome">
                  <label for="qs_2" class="col-4 col-sm-3 col-md-6 pe-0">vezes</label>
                  <div class="col-4 col-sm-3 col-md-6 ps-0">
                    <input class="form-control py-0 qs_2" type="number" value="3" id="qs_2" 
                        onchange="conf.quant(2, this.value)">
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check mx-1 my-1">
                  <input type="checkbox" class="form-check-input anima" name="anima" 
                    id="check_anima" onchange="conf.anima(this.checked)">
                  <label class="form-check-label" for="check_anima">animação</label>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item py-2 py-md-1 col-12 col-md-auto text-white">
            <div class="vr d-none d-md-flex h-100 mx-md-2"></div>
            <hr class="d-md-none my-2">
          </li>
          <li class="nav-item">
            <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.reset()" title="recomeçar">
              <i class="bi bi-arrow-counterclockwise"></i>
            </a>
            <a class="nav-link d-inline-block px-1 pb-2 pb-md-0 play" href="javascript:conf.fill.track()" title="tocar">
              <i class="bi bi-play-fill"></i>
            </a>
            <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.previous()" title="hino anterior">
              <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.next()" title="próximo hino">
              <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </li>
        </ul>
        <% if !current_user&.admin? %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
